@font-face {
    font-family: GothamBold;
    src: url("../resources/Gotham/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
    font-family: Gotham;
    src: url("../resources/Gotham/GothamHTF-Black.otf") format("opentype");
}
@font-face {
    font-family: GothamThin;
    src: url("../resources/Gotham/GothamHTF-Thin.otf") format("opentype");
}
@font-face {
    font-family: GothamLight;
    src: url("../resources/Gotham/GothamHTF-Light.otf") format("opentype");
}


html, body {
    font-family: 'GothamThin', sans-serif;
    height: 100%;
    min-height: 100%;
    border:0px;
    margin:0px;
}

.panel {
    position: relative;
    background: #ffffff;
}

.panel.home {
    position: relative;
    background-color:#f6f6f6;
    border-bottom:1px solid #ddd;
    background: #DFDFDF url("../resources/background-geo-1-crop.jpg") no-repeat right top;
}

.title-left {
    display: inline-block;
    color: black;
    font-size: 175px;
    margin-top: -100px;
}

.title-right {
    display: inline-block;
    margin-top: -100px;
}

.home.title-wrapper {
    position: relative;
    height: 200px;
    top:50%;
}

.home.title {
    font-family: 'GothamBold', sans-serif;
    display: inline-block;
    font-size: 75px;
    vertical-align: middle;
}
.title-type-wrapper {
    font-size: 50px;
    line-height: 75px;
    vertical-align: middle;
}

.title-type-wrapper.divider {
    display: inline-block;
    font-size: 75px;
}




.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}